<h1><%= plural_table_name.titleize %></h1>

<table>
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr class="jets-element-to-delete">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to 'Show', "/<%= plural_table_name %>/#{<%= singular_table_name %>.id}" %></td>
        <td><%%= link_to 'Edit', "/<%= plural_table_name %>/#{<%= singular_table_name %>.id}/edit" %></td>
        <td><%%= link_to 'Destroy', "/<%= plural_table_name %>/#{<%= singular_table_name %>.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>

<%%= link_to 'New <%= singular_table_name.titleize %>', "/<%= plural_table_name %>/new" %>
