<% attributes.reject(&:password_digest?).each do |attribute| -%>
<p>
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
<%%= link_to 'Edit', "/<%= plural_table_name %>/#{@<%= singular_table_name %>.id}/edit" %> |
<%%= link_to 'Back', "/<%= plural_table_name %>" %>
