<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class="jets-element-to-delete">
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.published %></td>
        <td><%= link_to 'Show', "/articles/#{article.id}" %></td>
        <td><%= link_to 'Edit', "/articles/#{article.id}/edit" %></td>
        <td><%= link_to 'Destroy', "/articles/#{article.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', "/articles/new" %>
