<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @article.published %>
</p>

<%= link_to 'Edit', "/articles/#{@article.id}/edit" %> |
<%= link_to 'Back', "/articles" %>
